<div id="home">
<div class="jumbotron">
    <h1>Call Cloud</h1>
    <p>すべての企業に自動電話対応システムを。</p>
    <p><%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>

<section class="feature clearfix">
  <h2>Call Cloud の特徴</h2>
  <span class="col-lg-4">
    <div class="well">
      <span class="btn btn-primary btn-fab btn-raised mdi-file-cloud-done"></span>
      <h4>全てはクラウドに</h4>
      <p>コールクラウドは自動電話受付システムを誰もが容易に実現できるサービスです。コールクラウドで電話対応の時間を短縮し、よりクリエイティブな業務に集中できます。</p>
    </div>
  </span>
  <span class="col-lg-4">
    <div class="well">
      <span class="btn btn-success btn-fab btn-raised mdi-communication-call"></span>
      <h4>らくらくオペレーター生成</h4>
      <p>コールクラウドでは直感的に作成可能な自動電話対応のインタフェースを提供します。電話が来た時の電話対応をウェブ上で定義できます。</p>
    </div>
  </span>
  <span class="col-lg-4">
    <div class="well">
      <span class="btn btn-info btn-fab btn-raised mdi-av-mic"></span>
      <h4>自動音声録音</h4>
      <p>会話内容を録音することによって顧客満足度を改善することができます。今までブラックボックスになりがちだった電話内容をクリアにします。</p>
    </div>
  </span>
</section>

<!--
<section class="price">
  <h2>利用価格</h2>
  <%= #render partial: "shared/price" %>
</section>
-->

</div>
