// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
  .jumbotron {
    padding-left: 50px;
  }
  h1 {
    color: #40549C;
  }
  h2 {
    padding-bottom: 35px;
    text-align: center;
  }
  .feature{
    text-align: center;
    padding: 30px;
    .well {
      height: 250px;
    }
    h4 {
      padding: 20px;
    }
    p {
      padding: 0 26px;
    }
  }

  .price {
    background-color: #40549C;
    padding: 40px;
    
    h2 {
      color: white;
    }
    .cont {
      width: 818px;
      margin: 0 auto;
    }
    .pricing-table {
      -webkit-box-shadow: 0px 0px 3px #26292e;
      box-shadow: 0px 0px 3px #26292e;
      display: inline-block;
      margin: 30px 10px;
      width: 250px;
    }

    .featured {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }

    .pricing-table-header {
      background: #65707f; /* Old browsers */
      background-color: #586272;
      -webkit-border-radius: 5px 5px 0px 0px;
      -moz-border-radius: 5px 5px 0px 0px;
      border-radius: 5px 5px 0px 0px;
      padding: 16px;
      text-align: center; 
    }

    .pricing-table-header h3 {
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
    }

    .pricing-table-content {
      background-color: #fff;
    }

    .pricing-table-content ul {
      list-style: none; 
    }

    .pricing-table-content ul li {
      border-bottom: 1px solid #efeff0;
      font-size: 14px;
      padding: 16px 56px;
    }

    .pricing-table-footer {
      background-color: #f5f7f8;
      -webkit-border-radius: 0px 0px 5px 5px;
      -moz-border-radius: 0px 0px 5px 5px;
      border-radius: 0px 0px 5px 5px;
      padding: 16px 0;
    }


    .pricing-table-footer {
      text-align: center; 
    }

    .pricing-table-footer p {
      font-size: 12px;
      text-transform: uppercase;  
    }
  }
}

