// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#members {
  width: 900px;
  .invite {
    display: block;
    float: right;
  }
  .m_form {
    display: none;
  }
  .submitRole {
    padding: 8px;
  }
}
